{% extends 'default.html.twig' %}

{% block main %}
    {% if session().hasFlash('error') %}
        <div style="border: #B729D9">
            {% for message in session().getFlash('error') %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="bg-body-tertiary p-5 rounded">
        <form method="post" action="/login">
            <div class="mb-3">
                <label for="email" class="form-label">Почта</label>
                <input type="email" name="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Вход</button>
        </form>
    </div>
{% endblock %}