{% extends 'default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <form method="post" action="/reg">
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input type="text" name="name" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Почта</label>
                <input type="email" name="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="text" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Регистрация</button>
        </form>
    </div>
{% endblock %}